body{
    background-color: skyblue;
}
.sun{
    font-size: 100px;
}
.line{
    position: fixed;
    top:525px;
    width: 80%;
}
.line:hover
{
    transform: rotate(360deg);
    transition-duration: 5s;
    transition-timing-function: linear;
}

